extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

          //- Used interpolation to dynamically add the project title.
          h1= project.name

          //- Used interpolation to dynamically add the project description.
          p.lead.text-light
            | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each tech in project.tech
            li= tech

        a.button.expanded(href='#') Live Demo
        a.button.expanded(href=`${project.github}` target='_blank') GitHub Repo

    img.image(src=`/static/${project.images[0]}`)
    img.image(src=`/static/${project.images[1]}`)
    img.image(src=`/static/${project.images[2]}`)
    